# Python Bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
forex_ai_env/

# IDE Files
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db

# Python Distribution / Packaging
*.egg-info/
dist/
build/

# Logs and Databases
*.log
*.sqlite3

# Temporary Files
*.swp
*.bak

Lib/

